.alert {
  @apply absolute flex items-center px-3 py-2 rounded-md shadow-none transition duration-500 transform -translate-y-48;
}

.alert svg {
  @apply mr-2;
}
.alert .alert-message {
  @apply py-2 flex-grow
}

.alert-success {
  @apply bg-green-100;
}

.alert-success svg, .alert-success .alert-message {
  @apply fill-current text-green-400;
}

.alert-error {
  @apply bg-red-100;
}

.alert-error svg, .alert-error .alert-message {
  @apply fill-current text-red-400;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}