/* General */
body {
  @apply text-gray-700 bg-gray-50 antialiased;
}
svg {
  @apply inline-block cursor-pointer select-none;
}

footer {
  @apply bottom-0
}

.h1 {
  @apply text-3xl sm:text-4xl font-bold;
}
.h2 {
  @apply text-2xl sm:text-3xl font-bold;
}
.h3 {
  @apply text-xl sm:text-2xl font-bold;
}
.h4 {
  @apply text-lg sm:text-xl font-bold;
}
.h5 {
  @apply sm:text-lg font-bold;
}

.app-container {
  @apply container px-4 mx-auto pb-2 md:px-2 mt-24 flex flex-col;
}

.screen-center {
  @apply h-screen w-screen flex flex-col justify-center items-center;
}

.backdrop {
  @apply inset-0 fixed flex items-center justify-center;
  z-index: -1;
}

.paper {
  @apply rounded-md shadow-md bg-white;
  z-index: 100;
}

.flex-container {
  @apply -mt-2 -ml-2;
}

.flex-item {
  @apply pt-2 pl-2 pr-1;
}
/*  */

/* app bar */
.app-bar {
  @apply fixed top-0 flex justify-between md:justify-start w-full bg-white
  px-5 py-3 items-center z-50 sm:px-12;
}
.app-bar .app-bar-brand {
  @apply relative md:flex-none md:mr-5;
  height: 45px;
  width: 45px;
}
.app-bar .btn-menu {
  @apply block md:hidden;
}
.app-bar-menu {
  @apply flex-none md:flex-grow;
}
.app-bar-menu > * {
  @apply px-4 py-2 transition duration-300 hover:text-primary cursor-pointer;
}
.app-bar-menu,
.app-bar-btn {
  @apply hidden md:flex sm:items-center;
}
/*  */

/* button */
.btn {
  @apply relative overflow-hidden rounded-md px-2 py-2 
  font-bold shadow-none select-none disabled:bg-gray-400 disabled:text-white;
  outline: none;
}
.btn-primary {
  @apply text-white bg-primary border-2 border-transparent;
}
.btn-primary-outlined {
  @apply border-primary border-2 text-primary bg-transparent disabled:border-gray-400;
}
.btn-secondary {
  @apply text-white bg-secondary border-2 border-transparent;
}
.btn-secondary-outlined {
  @apply border-secondary border-2 text-secondary bg-transparent disabled:border-gray-400;
}
.btn-warning {
  @apply text-white bg-yellow-500 border-2 border-transparent;
}
.btn-warning-outlined {
  @apply border-yellow-500 border-2 text-yellow-600 bg-transparent disabled:border-gray-400;
}
.btn-danger {
  @apply text-white bg-red-600 border-2 border-transparent;
}
.btn-danger-outlined {
  @apply border-red-600 border-2 text-red-600 bg-transparent disabled:border-gray-400;
}

.cta {
  @apply text-gray-900 text-lg border-2 border-transparent inline-block font-bold bg-yellow-400;
}

.btn::after {
  content: "";
  @apply hidden absolute rounded-full w-24 h-24 -mt-10 -ml-10 
  top-1/2 left-1/2 bg-gray-400 bg-opacity-60 opacity-0;
  background-color: rgba(255, 255, 255, 0.6);
  animation: ripple 1s;
}

.btn:focus:not(:active)::after {
  @apply block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(5);
  }
}
/*  */

/* Drawer */
.drawer {
  @apply fixed md:hidden inset-0 z-40;
}
.drawer .drawer-paper {
  @apply fixed top-0 right-0 h-full flex flex-col overflow-y-auto z-30 bg-white w-full max-w-xs;
}
.drawer .backdrop {
  @apply inset-0 fixed flex items-center justify-center bg-gray-500 bg-opacity-50;
  z-index: -1;
}
.drawer-enter .backdrop {
  @apply opacity-0;
}
.drawer-enter .drawer-paper {
  flex: 1 0 auto;
  transform: translateX(100%);
}
.drawer-enter-active .backdrop {
  @apply transition duration-100 opacity-100;
}
.drawer-enter-active .drawer-paper {
  @apply transition duration-300 transform translate-x-0;
}
.drawer-exit .backdrop {
  @apply opacity-100;
}
.drawer-exit .drawer-paper {
  @apply transform translate-x-0;
}

.drawer-exit-active .backdrop {
  @apply transition duration-300 opacity-0;
}
.drawer-exit-active .drawer-paper {
  @apply transition duration-300 translate-x-full;
}

/* Responsiveness next image*/
.img-container {
  width: 100%;
  height: 100%;
}

.img-container > div {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

/* Form */
.form {
  @apply w-full max-w-md mx-auto my-0 md:w-full;
}

.form-group {
  @apply pb-3 relative pt-3;
}
.form-control-root {
  @apply relative;
}

.form-label {
  @apply absolute top-2 left-2 bottom-0 w-full m-0 text-base pointer-events-none opacity-80
  transition-all duration-200 select-none	cursor-text;
}

.form-label::after {
  content: "";
  height: 2px;
  @apply absolute bottom-0 left-2/4 w-2 invisible bg-red-200 transition-all ease-out duration-200;
}

.form-control-input {
  @apply absolute bottom-0 h-full border-none rounded-t-md px-2 py-2 bg-gray-100 w-full outline-none 
  transition duration-500 ease-out focus:bg-transparent;
}

textarea.form-control-input {
  resize: vertical;
}

.form-control-input:focus ~ .form-label,
.not-empty ~ .form-label {
  @apply -top-3 left-0 text-gray-700 text-sm opacity-100;
}

.form-control-input:focus ~ .form-label::after {
  @apply visible w-full left-0;
}

.checkbox-label {
  @apply relative;
}
.checkbox-label input[type="radio"] {
  @apply absolute opacity-0 top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 border-none h-8 w-full cursor-pointer;
}

.checkbox-label input[type="radio"] + .icon {
  @apply mx-3 transition-all duration-200;
}

input[class="male"]:checked + .icon,
input[class="male"]:focus + .icon {
  @apply fill-blue;
}

input[class="female"]:checked + .icon,
input[class="female"]:focus + .icon {
  @apply fill-pink;
}

input[type="file"] ~ label {
  @apply inline-flex p-2 text-primary bg-red-200 border border-primary rounded-md;
}
.input-search {
  @apply border border-gray-500 text-base outline-none pl-10 p-2 rounded-md bg-gray-100 
  bg-no-repeat w-full max-w-md;
  background-image: url("/assets/icons/search.svg");
  background-size: 25px;
  background-position: 5px;
}

/* Avatar */
.avatar {
  @apply relative rounded-full border border-primary cursor-pointer;
}

.avatar > p {
  @apply bg-secondary text-white text-2xl font-bold rounded-full h-full w-full
  flex items-center justify-center;
}

/* skeleton */
.skeleton span {
  @apply bg-gray-200;
}
/* skeleton animation */
.skeleton-wave {
  @apply overflow-hidden relative;
}

.skeleton-wave::after{
  content: "";
  @apply top-0 left-0 right-0 bottom-0 absolute -translate-x-full;
  animation: wave 1s linear 0.5s infinite;
  background: linear-gradient(90deg, transparent, rgba(250, 250, 250, 0.239), transparent);
}

@keyframes wave {
  to  {transform: translateX(100%)}
}

/* divider */
.divider {
  @apply bg-red-200 h-0.5;
}

/* modal */
.modal {
  @apply fixed top-0 left-0 bottom-0 right-0;
  z-index: 200;
}
.modal > .backdrop {
  @apply bg-gray-500 bg-opacity-50;
}
.modal-enter .backdrop {
  @apply opacity-0;
}
.modal-enter .paper {
  @apply opacity-0 transform scale-90;
}
.modal-enter-active .backdrop {
  @apply transition duration-300 opacity-100;
}
.modal-enter-active .paper {
  @apply transition duration-300 opacity-100 transform scale-100 translate-y-0;
}
.modal-exit .paper,
.modal-exit .backdrop {
  @apply opacity-100;
}
.modal-exit-active .paper  {
  @apply transition duration-300 opacity-0 transform scale-90;
}
.modal-exit-active .backdrop {
  @apply transition opacity-0;
}

/* Tabs */
.tabs {
  @apply relative flex h-full border-gray-300 lg:flex-col;
}

.tabs .tab {
  @apply w-1/2 py-3 px-4 transition duration-300 lg:w-full;
}
.tabs .tab:nth-child(1).tab-active ~ .slider {
  @apply translate-x-0 scale-x-50 lg:scale-y-50;
}
.tabs .tab:nth-child(2).tab-active ~ .slider {
  @apply translate-x-1/2 scale-x-50 lg:translate-y-1/2 lg:translate-x-0 lg:scale-y-50;
}
.tab.tab-active {
  @apply transition duration-300 transform font-bold text-primary;
}
.tabs .slider {
  @apply absolute bottom-0 left-0 right-full top-full lg:left-full lg:bottom-full lg:top-0 lg:right-0 w-full
  h-1 lg:h-full lg:w-1 bg-primary transition duration-200 origin-left lg:origin-top;
}

/* Table */
table {
  @apply w-full mx-auto table-auto rounded-t-md overflow-hidden;
}
table * {
  @apply p-2 text-center;
}
table thead {
  @apply bg-primary;
}
th {
  @apply text-white border border-primary;
}
td {
  @apply border border-gray-300;
}
td.table-name {
  @apply text-left font-bold w-48 lg:w-64;
}
td.table-image {
  @apply w-20 h-20 lg:w-28 lg:h-28;
}
td.table-price {
  @apply w-24 lg:w-52;
}

/* Table skeleton */
tr.skeleton span {
  @apply mx-auto block rounded-md 
}
tr.skeleton span.left {
  @apply mx-0;
}

/* Auth layout */
section.auth {
  @apply h-screen w-screen flex items-center justify-center lg:justify-between;
}
section.auth .auth-img {
  @apply w-full relative hidden lg:block;
}
section.auth .form-container {
  @apply flex flex-col justify-center bg-white rounded-md shadow-md px-10 py-5
  lg:rounded-none lg:rounded-tl-3xl lg:rounded-bl-3xl lg:w-full lg:h-screen;
}