.hero {
  @apply flex justify-center items-center relative w-full mt-2 mb-5 p-10 md:h-80 md:min-h-0;
}

/* address list */
@screen sm {
  .hero {
    @apply h-96;
  }
}

@screen lg {
  .hero {
    height: 34rem;
  }
}

.hero::before {
  content: "";
  @apply absolute top-0 left-0 mt-1 h-full w-full 
  bg-gradient-to-b from-primary to-red-500;
  z-index: -1;
}

.hero h1 {
  @apply text-4xl text-white uppercase font-bold pt-20;
}

.hero p {
  @apply text-lg text-white;
}
.hero .hero-bg {
  @apply absolute block top-0 left-0 w-full  h-full lg:w-5/6;
  z-index: -1;
}

.hero .hero-img {
  @apply hidden md:block sm:w-1/2 md:w-2/6 right-10;
}

.hero .description {
  @apply w-full md:w-3/5 lg:w-1/2; 
}
.hero .description h1 {
  @apply lg:text-4xl; 
}

.hero .description p {
  @apply lg:text-xl
}
section#benefits {
  @apply flex flex-col items-center w-full mx-auto px-5 lg:w-4/5 mt-5; 
}

.section-title{
  @apply text-2xl md:text-3xl lg:text-4xl text-center font-bold mb-5;
}

#benefit-one, 
#benefit-two, 
#benefit-three {
  @apply relative flex flex-col md:flex-wrap items-center justify-center mb-5 min-h-full w-full max-w-md
  shadow-md rounded-md md:max-w-none md:flex-row md:h-72 md:shadow-none md:w-full md:justify-between lg:justify-evenly;
}

.benefit-img {
  @apply relative md:flex-2/5 md:max-w-sm;
}

.benefit-desc {
  @apply flex flex-3/5 flex-col justify-center items-center mt-4 p-3 text-center md:w-full md:h-full md:mt-0;
}

.benefit-desc h2 {
  @apply text-lg md:text-2xl lg:text-3xl font-bold mb-5;
}

section#benefits #benefit-two .benefit-img {
  @apply order-first md:order-last;
}

section#features {
  @apply flex flex-wrap justify-around items-center px-4 mb-5 
  md:flex-row md:items-start lg:justify-evenly;
}

#feature-one,
#feature-two,
#feature-three {
  @apply flex flex-wrap flex-col relative items-center text-center 
  mb-5 rounded-md max-w-xs h-full
  transition duration-500 ease-in-out hover:bg-gray-700 hover:text-white;
}

.feature-img {
  @apply relative w-full h-60 sm:h-52 lg:h-52 lg:w-52;
}

.feature-desc {
  @apply mt-3 p-4;
}

/* footer */
footer {
  @apply bg-red-200;
}

footer .media-social {
  @apply flex mb-4 bg-red-300 px-12 py-3;
}

footer .media-social .icons {
  @apply w-8 h-8 text-red-500 mr-3 cursor-pointer hover:text-primary;
}
footer .information {
  @apply flex flex-wrap flex-col w-full bg-red-200 px-12 py-3 md:flex-row md:items-start md:text-left;
}

footer .information .more {
  @apply mb-5 md:mr-10
}

footer  > * {
  @apply mb-5 md:mb-0
}
.copyright {
  @apply px-12 py-3 text-xs mb-0;
}
